/* === HEADER ESTILOS === */
header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px 20px;
    text-align: center;
    background: linear-gradient(to bottom, rgba(241, 252, 251), rgb(240, 252, 250));
    backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* NAV */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

/* LOGO */
#logo {
    display: flex;
    align-items: center;
}

#logo img {
    width: 40px;
    height: auto;
}

/* MENÚ */
.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0px 50px;
}

.nav-links li a {
    color: rgb(67, 122, 104);
    text-decoration: none;
    font-weight: bold;
    padding: 10px 15px;
    border-radius: 8px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* Hover */
.nav-links li a:hover {
    background-color: rgba(13, 109, 235, 0.2);
    color: #0d6deb;
}

/* Activo */
.nav-links li a.selected {
    background-color: rgba(9, 177, 171, 0.822); /*rgba(13, 109, 235, 0.5);*/
    color: rgb(255, 255, 255);
}

/* MENÚ HAMBURGUESA */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    color: rgb(34, 110, 65);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        align-items: start;
        text-align: center;
    }

    #logo {
        justify-content: center;
        width: 100%;
        display: flex;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        margin-top: 10px;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        text-align: center;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: rgb(238, 248, 246);
        width: 100%;
        max-width: 100vw;
        overflow-x: hidden;
        padding: 10px 0;
        border-radius: 10px;
    }

    .nav-links li a {
        display: block;
        width: 100%;
        padding: 10px;
    }

    .nav-links.show {
        display: flex;
    }
}


