body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #fff; /* Fondo más tenue */
    color: #333;
}

#home {
    margin-top: 80px; /* Mayor que la altura del header */
}

h1, h2, h3 {
    color: rgb(37, 134, 121); /* Títulos en negro */
}

section {
    padding: 50px;
    text-align: center;
}


.home-container {
    display: flex; /* Utiliza Flexbox para alinear los divs en una fila */
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacia los elementos */
}

.home-text, .home-foto {
    width: 45%; /* Puedes ajustar el ancho de cada div según lo que necesites */
    padding: 10px;
}

.home-foto img {
    width: 250px; /* Define el tamaño de la imagen */
    height: 250px; /* Define el tamaño de la imagen */
    border-radius: 50%; /* Hace que la imagen sea un círculo */
    margin-right: auto;
    margin-left:0;
    object-fit: cover; /* Ajusta la imagen dentro del contenedor */
}

.home-text {
    width: auto;  /* Define el tamaño fijo del contenedor */
    margin-left:auto;
    margin-right: 0;
    text-align: left;  /* Alinea el texto a la izquierda */
    flex: 1; /* Hace que el texto ocupe el espacio restante */
}

.home-text-1 {
    font-family: Arial, sans-serif;
    font-size: 1.0rem;
    line-height: 1.2;
    color: #09443aec;
    margin: 0px 0;
    text-align: left;
}

/* 📱 Responsive: Menú hamburguesa en pantallas pequeñas */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column; /* Cambia a diseño vertical */
        text-align: center;
    }

    .home-foto {
        display: flex;
        justify-content: center;
        width: 100%; /* Asegura que el contenedor ocupe toda la pantalla */
    }

    .home-foto img {
        width: 200px; /* Reduce el tamaño de la imagen */
        height: 200px;
        margin: auto; /* Centra la imagen */
    }

    .home-text {
        width: 100%; /* Asegura que el texto no se encime */
    }
}