/* Sección de contacto */
#contact {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 900px;
    margin: 40px auto;
}

/* Contenedor del mapa */
#map {
    width: 60%;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    border: 1px solid #d6ece9; /* Verde intermedio */
}

/* Contenedor del formulario */
form {
    max-width: 500px; /* Ajusta el ancho máximo del formulario */
    width: 100%;
    margin: auto; /* Centrar */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background: #116d65;
    border: 1px solid #e9ebebdc;
    box-sizing: border-box; /* Ajusta el modelo de caja */
}

/* Estilos de los inputs y textarea */
/* Asegura que los inputs y textarea respeten el ancho del formulario */
form input, form textarea {
    width: 100%;  /* Ocupa todo el ancho del formulario */
    padding: 12px;
    background-color: #ecf1f1;
    border: 1px solid #116d65d0; /* Verde intermedio */
    border-radius: 5px;
    font-size: 16px;
    transition: 0.3s;
    box-sizing: border-box; /* Evita que el padding y el borde afecten el tamaño */
    margin-bottom: 10px;
}

/* Efecto al enfocar */
form input:focus,
form textarea:focus {
    border-color: #05504c; /* Verde más fuerte */
    outline: none;
    background-color: #f8daf2;
    box-shadow: 0 0 5px rgba(106, 124, 121, 0.5);
}

/* Botón de envío */
form button {
    background: white; /* Verde fuerte */
    color: #116d65;
    font-weight: bold;
    border: 1px solid rgb(0, 128, 96);
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    background: #c6ebe0; /* Verde más oscuro */
    color: rgb(110, 100, 56);
}

/* responsive */
@media (max-width: 768px) {
    #map {
        width: 90%;
        height: 350px;
    }
}