@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sofia&display=swap');

#home {
    margin-top: 50px; /* Mayor que la altura del header */
}

.home-container {
    display: flex; /* Utiliza Flexbox para alinear los divs en una fila */
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-between; /* Espacia los elementos */
}

#home .title {
    font-size: 52px;
    text-align: center;
    padding-top: 10px;
    font-family: Roboto;
}

#home h2{
    color:rgb(5, 48, 46);
    text-align: center;
    font-size: 20px;
    padding: 0px;
    margin: 0px;
}

.home-text {
    width: auto;  /* Define el tama침o fijo del contenedor */
    margin-left:auto;
    margin-right: 0;
    text-align: left;  /* Alinea el texto a la izquierda */
    flex: 1; /* Hace que el texto ocupe el espacio restante */
}

.home-text-1 {
    font-family: Arial, sans-serif;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #09443aec;
    margin: 0px 0;
    text-align: center;
    padding: 20px 200px 40px;
    font-family: Roboto;
}

/* Contenedor RRSS*/
.social-container {
    display: flex;
    flex-direction: column; /* Apila los iconos y el bot칩n */
    align-items: center;
    margin: 20px auto 50px;
}

/* Estilos para los iconos */
.social-links {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-bottom: 10px; /* Espacio entre los iconos y el bot칩n */
}

.social-links a {
    display: inline-block;
    width: 40px;
    height: 40px;
}

.social-links img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease-in-out;
    border-radius: 50%;
}

.social-links img:hover {
    transform: scale(1.1);
}

/* Bot칩n "Cont치ctame" */
.btn-contact {
    display: inline-block;
    background-color: #09443a;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 8px;
    text-decoration: none;
    margin-top: 10px;
    transition: background 0.3s ease-in-out;
}

.btn-contact:hover {
    background-color: #06685e;
}

/* 游님 Responsive: Men칰 hamburguesa en pantallas peque침as */
@media (max-width: 768px) {
    .home-container {
        flex-direction: column; /* Cambia a dise침o vertical */
        align-items: center;
        text-align: center;
    }

    .home-text {
        width: 90%; /* Asegura que el texto no se encime */
        padding-left: 10px;
        padding-right: 20px;
    }

    #home .title {
        font-size: 25px;
    }
   
    #home h2{
        font-size: 18px;
    }

    .home-text-1{
        padding: 20px 5%;
        font-size: 14px;
    }
}