/* Reset de estilos */
body {
    font-family: Arial, sans-serif !important;
}

h1 {
	color: #30a19c !important;
    text-align: center !important;
    font-size: 35px !important;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}


h2 {
    color: #30a19c !important;
	font-size: 25px !important;
}

h3{
    margin-bottom: 20px;
    margin-top: 20px;
    font-size: 16px;
}

/* Bloques de código por si falla "prisma"*/
.code-container {
    /*background-color: #f7faf9ea;*/
    color: #08473a;
    padding: 10px;
    border-radius: 2px;
    margin: 20px 0;
    font-family: "Courier New", Courier, monospace;
    font-size: 13px;
    overflow-x: auto;
    /*border: 0.5px solid #e3eeec;*/
}

.code-container pre {
    margin: 0;
    white-space: pre-wrap;
}

/* Imágenes responsivas */
img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

/* Párrafos y listas */
p, .content ul {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.5;
    text-align: justify;
    font-size: 14px;
}

.content ul {
    list-style: square;
    padding-left: 30px;
    padding-bottom: 15px;
    padding-top: 15px;
}

.content ul li::marker {
    color: #24726e;
    font-size: 1.5em;
}

/* Tablas */
table {
    border-collapse: collapse;
    font-size: 12px;
}

th, td {
    padding: 4px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

thead th {
    font-weight: bold;
    border-bottom: 1px solid #215c4a; /* Línea negra bajo la cabecera */
}

tr:last-child {
    border-bottom: none; /* Evita línea extra en la última fila */
}

tr:nth-child(even) {
    background-color: #f2f2f2; /* Gris claro */
}

tr:nth-child(odd) {
    background-color: #ffffff; /* Blanco */
}

/* Responsive */
@media screen and (max-width: 768px) {
    .indice {
        width: 50px;
        height: 50px;
        padding: 0;
        overflow: hidden;
        transform: translateX(-100%);
    }
    
    .indice.active {
        width: 250px;
        height: 100vh;
        padding: 20px;
        transform: translateX(0);
    }
    
    .menu-btn {
        display: block;
    }

    section.content {
        width: 100%;
        margin-left: 0;
        padding: 15px;
    }

    header {
        font-size: 15px;
    }
    p, .content ul{
        font-size: 12px;
    }

    table {
        border-collapse: collapse;
        font-size: 10px;
    }
}

@media screen and (max-width: 480px) {
    header {
        font-size: 16px;
        padding: 10px;
    }
}
